services:
  database:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app_user -d app_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: app
    entrypoint: ./entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+psycopg://${POSTGRES_USER:?missing}:${POSTGRES_PASSWORD:?missing}@database:5432/${POSTGRES_DB:?missing}
    volumes:
      # Python
      - ./app:/app/app
      - ./tests:/app/tests

      # Scripts
      - ./entrypoint.sh:/app/entrypoint.sh

      # Migrations
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini

volumes:
  pgdata: